<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <authentication mode="Windows" />
    <compilation debug="true" targetFramework="4.8" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <remove name="ASHX" />
      <add name="ASHX" path="*.ashx" verb="*" type="System.Web.UI.SimpleHandlerFactory" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>
